@import "../../home/css/style.css";
@import "../../sign-up/css/style.css";


/* you can copy style from sign-up css file style  */
.manue-content{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    place-items: center;
}
.manue-product{
    min-width:250px;
    box-shadow: 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
}
.manue-product img{
    max-width:100%;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.before-price{
   text-decoration: line-through;
   opacity: .5;
}
.heart-icon{
    cursor: pointer;
    font-size: 25px;
    color:var(--main-color)
}
.manue-button {
    margin: 30px auto;
    width: fit-content;
}




