@import "../../sign-up/css/style.css";


/* you can copy style from sign-up css file style  */

.manue-product{
    width:300px;
    box-shadow: 0px 0px 4px;
}
.manue-product img{
    max-width:100%;
    width: 70px;
    height: 70px;
}




