@import "../../home/css/style.css";
@import "../../home/css/light_style.css" ;


/* about style */
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    background-color: #000;
}

.about-image , .about-info {
    flex:1;
}
.about-image img {
  max-width: 100%;
}
.about-text-none{
    display
}