@import "../../home/css/style.css";
@import "../../home/css/light_style.css" ;


/* about style */
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    gap:20px;
    /* padding:20px; */
}

.about-image , .about-info {
    flex:1;
}
.about-image img {
  max-width: 100%;
}
.about-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    /* margin-top: 27px; */
}
.about-text-none{
    display:none
}
@media (max-width: 767px)