
/* header style */
body.light{
    background-color: #fff;
}
body.light .nav-item-icons li ,
body.light .nav-item-list  a{
    color:#000;
}
/* body.light .nav-items ul li:hover,
body.light .nav-items ul li.active a , 
body.light .nav-items ul li:hover a 
{
    color: var(--main-color)
} */
body.light .nav-item-list{
    background-color: #000;
} 
body.light .nav-item-list li a {
    color:#fff;
}