
/* header style */
body.light{
    background-color: #fff;
}
body.light .nav-items ul li ,
.nav-items ul li a{
    color:#000;
}
body.light .nav-items ul li:hover,
.nav-items ul li.active a , 
.nav-items ul li:hover a 
{
    color: var(--main-color)
}