
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html{
     scroll-behavior: smooth;
 }
 body{
    font-family: 'Nunito', sans-serif;
 }

 /* component style */
 .container {
     width:90%;
     margin:auto;
 }
 .pad{
    padding-top: 50px;
    padding-bottom: 50px;
}
.unlist{
    list-style: none;
}
.link-none{
    text-decoration: none;
}
.capitalize{
    text-transform: capitalize;
}
/* body mood style */
.dark-light {
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 45px;
    height: 22px;
    border: 1px solid rgb(51, 18, 18);
    background-color: #D9CCBC;
    border-radius: 15px;
}
/* header style */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header img {
    max-width: 100%;
    width: 50px;
    height: 50px;
}
.nav-items {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav-items ul {
    justify-content: space-between;
    display: flex;
    align-items: center; 
    gap:15px;
}