
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html{
     scroll-behavior: smooth;
     padding-top: 50px;
 }
 body{
    font-family: 'Nunito', sans-serif;
 }

 /* component style */
.pad{
}