
body.light  .sign-up:before {
    background-color: #3e352bdb;
}

body.light .sign-form-item span{
    color:var(--main-color)
}
body.light .sign-form-item a{
    color: #d9ccbc;
    color: #fff;
}
.sign-form-item a:hover{
    color: #fff;
    text-decoration: underline;
}