@import "../../home/css/style.css";
@import "../../home/css/light_style.css" ;




/* about style */
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    /* background-color: #000; */
    /* padding:20px; */
}

.sign {
    overflow: hidden;
    /* max-height: 500px; */
    /* max-width: 350px; */
    border-radius: 10px;
    position: relative;
    padding: 20px;
 }

.sign:before{
   content:"";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left:0;
   background-color: #665b4fdb;
   z-index: -1;
   transition: .5s;

}
.sign-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
input {
    border: none;
    outline: none;
    width: 300px;
    height: 35px;
    padding: 5px;
    padding-left: 30px;
    border-radius: 5px;
}
::placeholder{

}