@import "../../home/css/style.css";
@import "../../home/css/light_style.css" ;




/* about style */
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    /* background-color: #000; */
    /* padding:20px; */
}

.sign {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .sign {
    overflow: hidden;
    height: 500px;
    width: 571px;
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

.sign:before{
   content:"";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left:0;
   background-color: #665b4fdb;
   z-index: -1;
   transition: .5s;

}
.sign-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.sign-form-item{
    position: relative;
}
.sign-form-item-icon{
    position: absolute;
    color: var(--main-color);
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
input {
    border: none;
    outline: none;
    width: 300px;
    height: 35px;
    padding: 5px;
    padding-left: 45px;
    border-radius: 5px;
    
}
input[type="submit"] {
    width: 100px;
    /* text-align: center; */
    padding: 5px;
    color: var(--main-dark-color);
    font-weight: bold;
    background-color: #fff;
}
::placeholder{
text-transform: capitalize;
color:var(--main-color)
}
.sign-form-item span{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.sign-form-item a{
    color: #d9ccbc;
  
}
.sign-form-item a:hover{
    color: #fff;
    text-decoration: underline;
}
@media (max-width: 375px){
    .submit-group {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-direction: column;
    }
    .sign-form-item a{
        margin-top: -5px;
    }
}
