
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color .2s , background-color .2s;
    -webkit-transition: color .2s , background-color .2s;
    -moz-transition: color .2s , background-color .2s;
    -ms-transition: color .2s , background-color .2s;
    -o-transition: color .2s , background-color .2s;
}
 html{
     scroll-behavior: smooth;
 }
 body{
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
 }
 :root{
     /* --main-color:#D9CCBC; */
     --main-color:#B39A7C;
     --main-dark-color:  #584328;
 }

 /* component style */
 .container {
     width:90%;
     margin:auto;
 }
 .pad{
    padding-top: 20px;
    padding-bottom: 20px;
}
.unlist{
    list-style: none;
}
.link-none{
    text-decoration: none;
}
.capitalize{
    text-transform: capitalize;
}
.btn {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    width: 110px;
    transition: .3s;
    height: 35px;
    font-size: 15px;
    font-style: italic;
}
.btn:hover{
    width: 130px;
    /* background-color: #d9ccbc;
    color:var(--main-dark-color) */
}
    .text-color{
        color:#fff;
    }
/* body mood style */
.dark-light {
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 45px;
    height: 22px;
    border: 1px solid var(--main-color);
    background-color: #D9CCBC;
    border-radius: 15px;
    padding: 0 1px;
    z-index:2000;
}
.circle {
    background-color: var(--main-color);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.light-option {
    margin-left: auto;
}
body{
    background-color: #000;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

/* home style */
.main-page-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    /* position: relative; */
    /* z-index: 1; */
}
/* header style */
header{
    padding: 20px 0;
    position: relative;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header img {
    max-width: 100%;
    width: 50px;
    height: 50px;
}
.nav-items {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav-items ul {
    justify-content: space-between;
    display: flex;
    align-items: center; 
    gap:15px;
}
.nav-items ul li {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    /* color:#fff; */
}
.nav-items ul li a{
    /* color:#fff */
}
.nav-item-icons li:hover,
.nav-item-list li.active a , 
.nav-item-list li:hover a ,
.bottom-group a:hover ,
.nav-item-icons li.active
{
    color: var(--main-color)
}
.nav-item-icons > li{
        position: relative;
}
/* .nav-item-icons li.active{
        
} */
li.nav-item-icon-item.user-icon {
    display: flex;
    gap: 3px;
}
ul.user-options {
    /*display: none;
    */display: flex;
    position: absolute;
    right: 0px;
    top: 30px;
    flex-direction: column;
    width: 130px;
    transform:translateX(1000px) ;
    padding: 5px;
    background-color: var(--main-color);
    border-radius: 5px;
    align-items: flex-start;
    gap: 3px;
    z-index:500;
    -webkit-transform:translateX(1000px) ;
    -moz-transform:translateX(1000px) ;
    -ms-transform:translateX(1000px) ;
    -o-transform:translateX(1000px) ;
    transition:.5s    ;
    -webkit-transition:.5s    ;
    -moz-transition:.5s    ;
    -ms-transition:.5s    ;
    -o-transition:.5s    ;
}
ul.user-options li {
    color:#fff;
    /* display: ; */
}
ul.user-options li {
    box-shadow: 0 0 4px var(--main-dark-color);
    width: 100%;
    font-size: 15px;
    padding: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
ul.user-options li:hover{
    background-color: #d9ccbc;
    color:var(--main-dark-color)
}
li.user-icon-hover{
    color: var(--main-color)
}
ul.show-user-icon-options{
    transform:translateX(0px) ;
    -webkit-transform:translateX(0px) ;
    -moz-transform:translateX(0px) ;
    -ms-transform:translateX(0px) ;
    -o-transform:translateX(0px) ;
    z-index: 500;
}
ul.shopping-items{
    position: absolute;
    min-width: 100px;
    min-height: 50px;
    background-color: #fff;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    display: none;
    font-size: 12px;
}
ul.show-shopping-items{
    display: flex;
    z-index: 500;
}
.search-content {
    position: absolute;
    background-color: #ffff;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    overflow: hidden;
    padding: 10px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: none;
}

.search-content input{
    /* display: block; */
    border-color: transparent transparent var(--main-color) transparent;
    outline: none;
    color: var(--main-color);
    width: 250px;
    padding: 5px;
    /* height: 50px; */
}
.show-search-content{
    display: block;
    z-index: 500;
}
.number-of-products {
    position: absolute;
    top: -15px;
    left: 0;
    transform: translate(50% , 10%);
}
.product-list-item
/* media query for header */
@media (min-width: 767px ){
.bar-icon{
    display: none;
}
} 
@media (max-width: 767px ){
    .nav-item-list{
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 83px;
    background-color: #eee;
    width: 250px;
    padding: 25px;
    border-radius: 5px;
    height: calc(100vh - 83px);
    z-index: 10;
    transform: translateX(1000px);
    -webkit-transform: translateX(1000px);
    -moz-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    -o-transform: translateX(1000px);
    transition:transform 1s    ;
    -webkit-transition:transform 1s    ;
    -moz-transition:transform 1s    ;
    -ms-transition:transform 1s    ;
    -o-transition:transform 1s    ;
}
.nav-items ul li a {
    color: #000;
}
.show-nav-list{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    z-index: 500;
} 
} 
/* home style*/
.home{
    background-image: url(../images/home/coffe.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  
}
/* coffe text style*/
.coffe-text{
    padding: 50px 0; 
    /* color:#fff; */
}
.coffee-head {
    text-transform: uppercase;
    font-weight: bolder;
}
.coffee-info {
    margin: 10px 0;
    font-size: 15px;
    max-width: 500px;
}
.git-coffe-btn {
    margin-top: 10px;
}
@media (min-width: 767px ){
    .coffee-head {
        font-size: 45px;
    }
}
/* media query for coffe-text */
@media (max-width: 767px ){
     .coffe-text{   
        text-align: center;
    }
    .coffee-info {
        margin:10px auto;
    } 
}
/* footer style */
footer{
    padding-bottom: 0;
}
.footer-content , .footer-icons-list{
        display: flex;
        justify-content: space-between;
        align-items: center;

}
 .footer-icons-list{
        gap: 25px;
}
.bottom-group , .bottom-group a {
    color: #fff;
    font-weight: bold;
}

.bottom-group p a{ 
    font-family: 'Pushster', cursive;
     color:var(--main-color);
}
.footer-item-icon-item {
    background-color: var(--main-color);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer-item-icon-item a{
    color:#fff;
    font-size: 18px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.footer-item-icon-item:hover a{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
@media (max-width: 575px ){
.footer-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}
/* loading style */
.loading-section{
    /* background-color: var(--main-color); */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: animateBg 10s linear infinite;
    -webkit-animation: animateBg 10s linear infinite;
    z-index:100000;
    position: relative;
}
.loading{
    position: relative;
    width:120px;
    height: 120px;
}
.loading span{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    transform: rotate(calc(18deg * var(--i)));
    -webkit-transform: rotate(calc(18deg * var(--i)));
    -moz-transform: rotate(calc(18deg * var(--i)));
    -ms-transform: rotate(calc(18deg * var(--i)));
    -o-transform: rotate(calc(18deg * var(--i)));
}
.loading span:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    border-radius:50%;
    width: 15px;
    height:15px;
    background: var(--main-dark-color);
    box-shadow:0 0 10px var(--main-dark-color);
                -webkit-border-radius:50%;
                -moz-border-radius:50%;
                -ms-border-radius:50%;
                -o-border-radius:50%;
                animation: animate 2s linear infinite;
                animation-delay: calc(.1s * var(--i));
}
@keyframes animateBg{
    0%{
       filter:hue-rotate(0 deg);
       -webkit-filter:hue-rotate(0 deg);
    }
    100%{
    filter:hue-rotate(360 deg);
    -webkit-filter:hue-rotate(360 deg);
}
}
@keyframes animate{
    0%{
     transform:scale(0)    ;
     -webkit-transform:scale(0)    ;
     -moz-transform:scale(0)    ;
     -ms-transform:scale(0)    ;
     -o-transform:scale(0)    ;
}
    80%,100%{
        transform:scale(1)    ;
        -webkit-transform:scale(1)    ;
        -moz-transform:scale(1)    ;
        -ms-transform:scale(1)    ;
        -o-transform:scale(1)    ;
}
   
}